<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>
<body>
<h1>We will be back right away</h1>
<p>The website is under maintenance. We know you miss us and we will be back shortly</p>
</body>
</html>